quart==0.17.0
quart-schema==0.8.0
SQLAlchemy==1.4.49
asyncpg==0.27.0
alembic==1.11.1
python-dotenv==1.0.0
passlib[bcrypt]==1.7.4
pyjwt==2.8.0
marshmallow==3.20.1
marshmallow-dataclass==8.5.10
aiofiles==23.1.0